#header {
color: white;
    background-color:navy;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

#header h2 {
    font-size: 35px; 
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
#footer {
  background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px ;
}


@media (max-width: 550px) {
    body {
        font-size: 10px;
        width: 100%;
        height: auto;
        text-align: center;

    }

    }
